html * {
    margin: 0px;
    text-align: center;
}

.titulos {
    background-color: blue;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    
}

#titulo-h1 {
    background-color: gray;
    color: #FFFFFF;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

img {
    width: 300px;
    object-fit: contain;    
} 

.grid-item {
   display: grid;
   grid-template-rows: 1;
   grid-template-columns: repeat(3, 600px);
   grid-gap: 2px;
   
}
